h1{
    color:black ;
    font-size:90px ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align:center  ;
}

p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black ;
    font-size:40px ;
    text-align:center  ;
}

body{
    background:darkgrey ;
}

    
/* This code will make your items flow responsively */

.callout-item {
    max-width: 800px;
    margin: auto;
    position: relative;
}

.callout-info{
    
    display: flex;
    margin: auto;
    position: relative;

}
p2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
    color:black;
    text-align: center;
}

h2{
    color:black;
    font-size: 30pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    text-align: center;
}
   
* {
    /* Change the 1 to a 0 to hide the light blue guides */
    outline: 0px solid lightblue !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* End of responsive flow code */

.callout-item {
    /* This will style the entire item box */
    margin-bottom: 20px;
    background-color:dimgrey;
}

.callout-title {
    /* This will style the title of the item box */
    color:black;
}

.callout-poster{
    /* This will style the image inside the item box */
    max-width: 250px;
}

.callout-description{
    /* This will style the right-hand-side of the item box */
    padding: 10px;
}