h1{
    color:darkred ;
    font-size:xx-large ;
    font-family:Arial, Helvetica, sans-serif  ; 
    text-align:center  ;
}

p{
    font-family:Arial, Helvetica, sans-serif ;
    color:darkred;
    font-size:x-large ;
    text-align:center  ;
}

body{
    background:cornsilk ;
}

    
/* This code will make your items flow responsively */

.callout-item {
    max-width: 800px;
    margin: auto;
    position: relative;
}

.callout-info{
    
    display: flex;
    margin: auto;
    position: relative;

}
